<!DOCTYPE html>
<html>
  <head>
    <title>The Junction LLC | Coverage Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/map-styles.css">
  </head>
  <body>
    <div id="map"></div>
    <div class="search">
      <input id="pac-input" class="pac-controls" type="text" placeholder="Search Box">
    </div>
    <div class="overflow">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          {% for patron in patrons %}
            <tr>
              <th scope="row">{{patron.name}}</th>
              <td>{{patron.address}}</td>
              <td>{{patron.phone}}</td>
              <td><div class="flex-wrap">{{patron.email}} <form action="./delete" method="POST">
                <input type="hidden" value="{{patron.name}}" name="name">
                <button type="submit" class="btn btn-danger but-del">X</button>
                </form></div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <form method="POST" action="/">
      <div class="row newpatron">
        <div class="colform1">
            <input type="text" class="field" name="name" placeholder="Name">
        </div>
        <div class="colform2">
            <input type="text" class="field" name="address" placeholder="Address">
        </div>
        <div class="colform3">
            <input type="text" class="field" name="phone" placeholder="Phone Number">
        </div>
        <div class="colform4">
            <input type="text" class="field" name="email" placeholder="Email Address">
        </div>
        <div class="colbut">
            <button type="submit" class="btn btn-primary but-add">Add</button>
        </div>
      </div>
    </form>
    <script src="../static/search.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgxH6EcSYzjTtLXtW8P7wa80UZwK_7CW8&libraries=places&callback=initMap"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>